# .NET / C#
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.idea/
.vscode/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache
.stylelintcache

# Logs & Environment
*.log
.env.local
.env.*.local
