{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Telemetry": {
    "Mode": "Cloud",
    "Cloud": {
      "OtlpEndpoint": "https://otlp-gateway-prod-gb-south-1.grafana.net/otlp",
      "InstanceId": "YOUR_GRAFANA_INSTANCE_ID",
      "ApiToken": "YOUR_GRAFANA_API_TOKEN"
    }
  },
  "LLM": {
    "Mode": "Cloud",
    "Cloud": {
      "AccountId": "YOUR_CLOUDFLARE_ACCOUNT_ID",
      "ApiToken": "YOUR_ZUPLO_API_KEY",
      "Model": "@cf/google/gemma-4-26b-a4b-it",
      "BaseUrl": "https://digital-twin-main-fd365cd.zuplo.app/config_a90bfb2a121047ca89a12c8a800bca3e/v1"
    }
  },
  "FollowUpLLM": {
    "Mode": "Cloud",
    "Local": {
      "Endpoint": "http://localhost:1234/v1",
      "Model": "google/gemma-4-e4b",
      "ApiKey": "lm-studio"
    },
    "Cloud": {
      "AccountId": "YOUR_CLOUDFLARE_ACCOUNT_ID",
      "ApiToken": "YOUR_ZUPLO_API_KEY",
      "Model": "@cf/google/gemma-4-26b-a4b-it",
      "BaseUrl": "https://digital-twin-main-fd365cd.zuplo.app/config_a90bfb2a121047ca89a12c8a800bca3e/v1"
    }
  },
  "Embedding": {
    "Provider": "JinaAI"
  },
  "JinaAI": {
    "ApiKey": "YOUR_ZUPLO_API_KEY",
    "BaseUrl": "https://digital-twin-main-fd365cd.zuplo.app/config_a90bfb2a121047ca89a12c8a800bca3e/v1/",
    "Model": "jina-embeddings-v5-text-small",
    "Dimensions": 1024,
    "RerankModel": "jina-reranker-v2-base-multilingual",
    "TopK": 4
  },
  "VoyageAI": {
    "ApiKey": "YOUR_VOYAGE_API_KEY",
    "EmbeddingModel": "voyage-3-lite",
    "RerankModel": "rerank-2",
    "TopK": 4
  },
  "MongoDB": {
    "Mode": "Cloud",
    "DatabaseName": "resume_assistant",
    "Cloud": {
      "ConnectionString": "YOUR_MONGODB_ATLAS_CONNECTION_STRING"
    }
  },
  "Clerk": {
    "Issuer": "https://clerk.anktsrkr.github.io",
    "PublishableKey": "YOUR_CLERK_PUBLISHABLE_KEY",
    "SecretKey": "YOUR_CLERK_SECRET_KEY",
    "WebhookSecret": "YOUR_CLERK_WEBHOOK_SECRET",
    "Audience": ""
  },
  "CalCom": {
    "ApiKey": "YOUR_CALCOM_API_KEY",
    "BaseUrl": "https://api.cal.com/v2",
    "ApiVersion": "2024-08-13",
    "EventTypeId": 6740666,
    "EventTypeId15Min": 6740664,
    "EventTypeId30Min": 6740666,
    "EventTypeId60Min": 6752977,
    "Username": "ankitsarkar",
    "DefaultTimeZone": "Europe/London"
  }
}
